.container {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.upload-instructions {
  background-color: papayawhip;
  padding: 10px;
  border: 1px solid black;
}

h2 {
  text-align: center;
}
