.result-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  min-width: 30%;
  padding: 30px;
}

.positive {
  color: limegreen;
}

.neutral {
  color: darkorange;
}

.negative {
  color: red;
}

@media screen and (max-width: 860px) {
  .result-card {
    min-width: 350px;
  }
}
